
*{
    margin: 0;
    padding: 0;
}
.about {
    width: 1170px;
    width: fit-content;
    margin: calc((100vh - 542.4px) / 2) auto 0;
}
.about_header {
    height: 150px;
    /* последнее свойство будет главным */
    text-align: center;
    line-height: 150px; 
    /* Это выравнивание по вертикали */
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.about_separator {
    width: 170px;
    margin: auto;
    /* выравнивает элемент внутри родителя по горизонтали по центру */
    border: 1px solid #EC7979;
}
.about_separator2 {
    width: 170px;
    margin: auto;
    /* выравнивает элемент внутри родителя по горизонтали по центру */
    border: .5px solid #EC7979;   
}
.about_subheader {
    font-size: 18px;
    text-align: center;
    color: #86878B;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 50px;
}
.about_article {
    width: 370px;
    display: inline-block;
    /* превратили блочный элемент в строчно-блочный  */
    padding: 16px;
    margin: 30px;
}
.about_article_header {
    height: 100px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    /* line-height = height */
    font-family: "Open Sans", sans-serif ;
    font-weight: 700;
}
.about_article_paragraph {
    font-size: 18px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.about_article img {
    margin: auto;
    display: block;
}
