
.banner-2 {
    position: relative;
    background-image: url(../images/banner2.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-2::after {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}

.banner-2_header {
    height: 150px;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
    z-index: 1;
}

.banner-2_separator {
    width: 170px;
    margin: auto;
    border: 1px solid #fff;
    z-index: 1;
}

.banner-2_subheader {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 80px;
    z-index: 1;
}

.button1 {
    width: 370px;
    height: 58px;
    background-color: transparent;
    border: 2px solid #fff;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
    z-index: 1;
}

.button1:hover {
    background-color: transparent;
    border-color: #EC7979;
    font-family: "Open Sans", sans-serif;
    color: #EC7979;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
}

.button1:active {
    background-color: #AB4949;
    color: #fff;
}