* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-around;
}

header nav {
    width: 570px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

header nav button {
    width: 114px;
    text-align: center;
    height: 75px;
    line-height: 75px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: transparent;
    border: none;
}

header nav button:hover {
    background-color: #EC7979;
    cursor: pointer;
}

header nav button:active {
    background-color: #AB4949;
}