
.social {
    width: 100%;    
    background-color: #F8EFEF;
    display: flex;
    justify-content: center;

}

.social__icons   {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.social__texts h4 {
    height: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    line-height: 60px;
}
.social__texts h5 {
    height: 42px;
    width: 470px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    margin-bottom: 18px;
    margin-top: 18px;
}
.social__texts {
    margin-right: 30px;
}